<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>##%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>testInfo</key>
      <defaultValue>testrun</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${testInfo}" class="ch.qos.logback.core.FileAppender">
        <file>log/${testInfo}.log</file>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
          <FileNamePattern>${testInfo}#%i.log</FileNamePattern>
          <MinIndex>1</MinIndex>
          <MaxIndex>100</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
          <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
        <encoder>
          <pattern>##%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36}: %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
          <level>ALL</level>
        </filter>
      </appender>
    </sift>
  </appender>

  <root level="ALL">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="org.zeromq" level="ALL"/>
  <logger name="org.springframework" level="ERROR"/>

</configuration>
